*.obj
*.exe
*.html
*.exp
*.pdb
*.dll
*.DLL
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.htm
*.zip
*.backup
[Dd]ebug/
*.lib


*.sbr
Thumbs.db
[Ll]ib/
[Rr]elease*/
[Dd]ebug*/
[Tt]est[Rr]esults/
*.orig
_ReSharper.*/

bin/
obj/
[Bb]uild/
[Bb]uild.Design/
[Bb]uild.Tests/*.Tests/
[Bb]uild.Tests/*.xml
[Bb]uild.Tests/*.config
[Bb]uild.Tests/*.soap
[Bb]uild.Tests/*.DLL

TestData/
*.fsproj
*.resharper.user
*.db*
*.cd


