*.obj
*.exe
*.html
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.htm
*.zip
[Dd]ebug/
*.lib
TestResult.xml

*.sbr
Thumbs.db
*.ReSharper

[Ll]ib/
[Rr]elease*/
[Dd]ebug*/
[Tt]est[Rr]esults/
*.orig
_ReSharper.*/

bin/
obj/
[Bb]uild/
[Bb]uild.[Ss]pecs/
*.resharper.user
*.db*



