<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="MySql.Data" />
      <add name="MySQL Data Provider" invariant="MySql.Data" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <remove invariant="Npgsql" />
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>

      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider</property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.default_expiration">360000</property>
      <property name="cache.use_query_cache">true</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <property name="hbm2ddl.keywords">none</property>

      <property name="show_sql">true</property>
      <property name="current_session_context_class">thread_static</property>

    </session-factory>
  </hibernate-configuration>

  <log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- NHibernate Loggers -->
    <logger name="NHibernate">
      <level value="WARN"/>
    </logger>
    <logger name="NHibernate.SQL">
      <level value="WARN"/>
    </logger>
  </log4net>
	
</configuration>
